body{
  background-color: white;
}
h1{
  color: black;
}
.chartCard {
  justify-content: center;
}
.chartBox {
  padding: 20px;
  border: solid 4px lightgrey;
  background: white;
  border-radius: 15px 15px 15px 15px;
}
.chartBox2{
  border: solid 4px lightgrey;
  background: white;
  border-radius: 15px 15px 15px 15px;
}
